<h2>Productos</h2>

<!-- LA FILA TIENE EN TOTAL 12 UNIDADES -->
<div class="row">

    <div class="card col-3 mt-5" *ngFor="let p of products">

        <h3>
            <a [title]="'Ver detalles'" [routerLink]="['/detalle', p.id]">
                {{p.name}}
            </a>
        </h3>

        <div>
            <img *ngIf="p.imageUrl; else noImage" [src]="p.imageUrl">
        </div>

        <p>{{p.description}}</p>

        <div class="d-flex justify-content-between">


            <button type="button">Compartir</button>

            <!-- 
                Para los inputs, 
                lo que está entre [] es el nombre del atributo EN EL HIJO que queremos setear
                lo que está después del = es el valor que queremos pasar DESDE EL PADRE 
            -->

            <!-- 
                Para los outputs, 
                lo que está entre () es el nombre del evento EN EL HIJO al que vamos a reaccionar
                lo que está después del = es la función que queremos llamar EN EL PADRE al recibir el evento 
            -->

            <app-boton-notificar [producto]="p" (notificacion)="alertarNotificacion()"> </app-boton-notificar>

        </div>

    </div>

</div>

<ng-template #noImage>
    <img src="/assets/images/no-image.png">
</ng-template>





<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->